---
layout: default
---

{%- if page.title -%}
<!--home.html 시작-->
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}
<!--home.html 컨텐츠 시작-->
{{ content }}
<!--home.html 컨텐츠 끝-->
{%- if site.posts.size > 0 -%}
<!--home.html ul 시작-->
  <ul class="posts">
    <li>
      <h1 id="posts-label">posts</h1>
    </li>

    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <!--home.html tag 시작-->
              <li>{{ tag }}</li>
              <!--home.html tag 끝-->
            {%- endfor -%}
          </ul>
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>
  <!--home.html ul 끝-->

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
<!--home.html 끝-->
